<div class="umb-box" ng-controller="ImageFilter as vm">
    <div class="umb-box-header">
        <div class="umb-box-header-title">
            Image Filter
        </div>
    </div>
    <div id="image-filter" class="image-filter__container">
        <div class="image-filter__header">
            <div class="image-filter__intro">From here you can experiment with different Image Processor options to see what your image might look like.</div>
        </div>
        <div class="image-filter__image-store">
            <div class="image__original">
                <img src="{{vm.mediaUrl}}" />
            </div>
            <div class="image__preview">
                <div ng-if="model.selectedOption !== undefined && !vm.angular.equals(model.selectedOption,{})">
                    <img src="{{vm.previewMediaUrl}}" />
                </div>
                <div ng-if="model.selectedOption === undefined || vm.angular.equals(model.selectedOption,{})">
                    <p>Please select an option on the right to enable the preview image.</p>
                </div>
            </div>
            <div class="filter-controls">
                <div ng-include="model.selectedOption.PathToView"></div>
            </div>
        </div>
        <div class="image-filter__options">
            <p>Enabled options</p>
            <div ng-repeat="option in availableImageProcessorOptions track by $index">
                <label><input type="radio" name="selectedOption" ng-value="option" ng-model="model.selectedOption" ng-change="vm.selectedProcessorChanged()" />  {{option.Name}}</label>
            </div>
        </div>
    </div>
</div>